@import url("https://fonts.googleapis.com/css2?family=<ontserrat:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	--yellow: #fed100;
	--red: rgba(255, 53, 43, 1);
	--white: #fff;
	--orange: rgba(255, 119, 41, 1);
}

nav, 
ul, 
li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--red);
}

.banner {
	background-color: var(--yellow);
}

.container {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
}

.header_menu {
	display: flex;
	gap: 2rem;
}

.header_phone {
	text-decoration: underline;
}

.banner_content {
	display: flex;
}

.banner_info {
	flex: 0 1 50%;
}

.banner_title {
	font-size: 4rem;
}

.banner_button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--red);
	display: inline-block;
	cursor: pointer;
}

.banner_button:hover {
	background-color: var(--orange);
}

.banner_pluses {
	display: flex;
}

.banner_plus {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.banner_image {
	max-width: 30rem;
	margin: -4rem auto 0 auto;

}

.banner-image img {
	width: 100%;
	height: 100%;
}