@import url("https://fonts.googleapis.com/css2?family=<ontserrat:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	--yellow: #fed100;
	--red: rgba(255, 53, 43, 1);
	--white: #fff;
	--orange: rgba(255, 119, 41, 1);
}

nav {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--red);
}

.banner {
	background-color: var(--yellow);
}

.container {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
}

.header__menu {
	display: flex;
	gap: 2rem;
}

.header__phone {
	text-decoration: underline;
}

.banner__content {
	display: flex;
}

.banner__info {
	flex: 0 1 50%;
}

.banner__title {
	font-size: 4rem;
}

.banner__button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--red);
	display: inline-block;
	cursor: pointer;
}

.banner__button:hover {
	background-color: var(--orange);
}

.banner__pluses {
	display: flex;
}

.banner__plus {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.banner__image {
	max-width: 30rem;
	margin: -4rem auto 0 auto;

}

.banner__image img {
	width: 100%;
	height: 100%;
}

.landing__title {
	text-align: center;
	font-size: 30px;
}

.number {
	font-size: 50px;
}

.landing__subtitle {
	font-size: 20px;
}

.landing__text {
	font-size: 16px;
}

.all__number {
	display: flex;
}

.one__and__two {
	width: 68rem;
	height: 7rem;
	flex: 0 1 50%;
}

.three__and__four {
	width: 68rem;
	height: 7rem;
	flex: 0 1 50%;
}

.number__plus {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.landing__info {
	height: 30rem;
}

.landing__window {
	flex: 0 1 80%;
}

.third__block__window1 {
	width: 26rem;
	height: 36rem;
	border: 1px solid #EBEBEB;
	text-align: center;
}

.third__block__window1:hover {
	border: 1px solid #FED100;
}

.third__block__window2 {
	width: 26rem;
	height: 36rem;
	border: 1px solid #EBEBEB;
	text-align: center;
}

.third__block__window2:hover {
	border: 1px solid #FED100;
}

.third__block__window3 {
	width: 26rem;
	height: 36rem;
	border: 1px solid #EBEBEB;
	text-align: center;
}

.third__block__window3:hover {
	border: 1px solid #FED100;
}

.all__window {
	display: flex;
	gap: 0.5rem;
}

.third__block__title {
	text-align: center;
	height: 8rem;
}

.widnow__title {
	font-size: 24px;
}

.third__title {
	font-size: 30px;
}

.third__block__button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--yellow);
	display: inline-block;
	cursor: pointer;
}

.third__block__button:hover {
	background-color:#c3a004;
}

.price {
	font-size: 30px;
}