@import url("https://fonts.googleapis.com/css2?family=<ontserrat:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	--yellow: #fed100;
	--red: rgba(255, 53, 43, 1);
	--white: #fff;
	--orange: rgba(255, 119, 41, 1);
}

nav {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--red);
}

.banner {
	background-color: var(--yellow);
}

.container {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;
	margin-bottom: 4rem;
}
.container1 {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
}

.header__menu {
	display: flex;
	gap: 2rem;
}

@media (max-width: 592px) {
	.header__menu {
		display: none;
	}
}

.header__phone {
	text-decoration: underline;
}

@media (max-width: 592px) {
	.header__phone {
		display: none;
	}
}

.banner__content {
	display: flex;
}

@media (max-width: 768px) {
	.banner__content {
		display: block;
	}
}

.banner__info {
	flex: 0 1 50%;
}

.banner__title {
	font-size: 4rem;
	margin-bottom: 1rem;
}

@media (max-width: 768px) {
	.banner__title {
	font-size: 3rem;
}}

@media (max-width: 385px) {
	.banner__title {
	font-size: 2rem;
}}

.banner__subtitle {
	font-size: 30px;
	margin-bottom: 3rem;
}

@media (max-width: 385px) {
	.banner__subtitle {
	font-size: 1rem;
}}




.banner__button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--red);
	display: inline-block;
	cursor: pointer;
	margin-bottom: 3rem;
}

@media (max-width: 768px) {
	.banner__button {
		
}}

.banner__button:hover {
	background-color: var(--orange);
}

.banner__pluses {
	display: flex;
	gap: 1.5rem;
}
@media (max-width: 980px) {
	.banner__pluses {
		display: grid;
	grid-template-columns: 1fr 1fr;
}}

@media (max-width: 768px) {
	.banner__pluses {
		display: grid;
	grid-template-columns: 1fr 1fr;
}}

@media (max-width: 385px) {
	.banner__pluses {
		display: grid;
	grid-template-columns: 1fr;
}}

.banner__plus {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}


.banner__image {
	max-width: 30rem;
	margin: 0 auto 0 auto;

}

.banner__image img {
	width: 100%;
	height: 100%;
}

.landing__title {
	text-align: center;
	font-size: 30px;
}

.number {
	font-size: 50px;
}

.landing__subtitle {
	font-size: 20px;
}

.landing__text {
	font-size: 16px;
}

.all__number {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem 1.5rem;
}

@media (max-width: 1050px) {
	.all__number {
		display: grid;
	grid-template-columns: 1fr;
}}

.one__and__two {
	flex: 0 1 50%;
}

.three__and__four {
	
	flex: 0 1 50%;
}

.number__plus {
	display: flex;
	gap: 2rem;
}



.landing__info {
	height: 40%;
}

.landing__window {
	flex: 0 1 80%;
}

.third__block__window {
	width: 100%;
	height: 100%;
	border: 1px solid #EBEBEB;
	text-align: center;
}

.third__block__window:hover {
	border: 1px solid #FED100;
}

.all__window {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 1.5rem;
}

@media (max-width: 880px) {
	.all__window {
		display: grid;
	grid-template-columns: 1fr 1fr;
}}

@media (max-width: 600px) {
	.all__window {
		display: grid;
	grid-template-columns: 1fr;
}}

.third__block__title {
	text-align: center;
	height: 8rem;
}

@media (max-width: 390px) {
	.third__block__title {
		margin-bottom: 1rem;
}}

.widnow__title {
	font-size: 24px;
	margin-bottom: 3rem;
}

.third__title {
	font-size: 30px;
}

.third__block__button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--yellow);
	display: inline-block;
	cursor: pointer;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.third__block__button:hover {
	background-color:#c3a004;
}

.price {
	font-size: 30px;
	margin-top: 4rem;
}

.fourth__block__title {
	text-align: center;
	height: 100%;
}

.buttons_four {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	margin-bottom: 2rem;
}

@media (max-width: 900px) {
	.buttons_four {
		display: grid;
	grid-template-columns: 1fr 1fr;
}}

@media (max-width: 630px) {
	.buttons_four {
		display: grid;
	grid-template-columns: 1fr;
}}

.fourth__block__button {
	border: 1px solid #EBEBEB;
	font-size: 20px;
	padding: 1rem 6rem;
	text-align:center;
	background: #fff;
}

@media (max-width: 900px) {
	.ourth__block__button {
		padding: 1rem 5rem;
}}

.fourth__block__button:hover {
	border: 1px solid #Fed100;
}

.fourth__block__window {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 650px) {
	.fourth__block__window {
	grid-template-columns: 1fr;
}}





.left__fourth__block {
}

@media (max-width: 1000px) {
	.cars {
		width:100%;
		height:100%;
}}

.fourth__block__buttons {
	padding: 1rem 5rem;
	color: var(--white);
	background-color: var(--yellow);
	display: inline-block;
	cursor: pointer;
	margin-top: 2rem;
}

.fourth__block__buttons:hover {
	background-color:#c3a004;
}

.fourth__block__window1 {
	display: none;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 650px) {
	.fourth__block__window1 {
	grid-template-columns: 1fr;
}}

.fourth__block__window2 {
	display: none;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 650px) {
	.fourth__block__window2 {
	grid-template-columns: 1fr;
}}

.fifth__block__title {
	text-align: center;
}

.fifth__block__windows {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
	.fifth__block__windows {
	grid-template-columns: 1fr 1fr;
}}

@media (max-width: 700px) {
	.fifth__block__windows {
	grid-template-columns: 1fr;
}}

.fifth__button {
	border: 1px solid #333333;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	flex: 0 1 50%;
	padding: 1rem 6rem;
	text-align:center;
	background: #fed100;
}

.fifth__button:hover {
	background: #fff;
	border: 1px solid #fff;
}

.fifth__block {
	background:#fed100;
}

.fifth__block__window {
	width: 100%;
	margin-bottom: 2rem;
}

.fifth__button1 {
	text-align: center;
}

span {
	text-decoration: underline;
}

input {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #333333;
}

select {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #333333;
}

#point {
	margin: 0 15% 0 20%;
}

.sixth__block__title {
	margin-bottom: 3rem;
	width: 100%;
}

.name__number {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2rem;
}

@media (max-width: 550px) {
	.name__number {
	grid-template-columns: 1fr;
}}


/*
	width: 60%;
}

.text__numberr {
	width: 60%;
} */

.region__town {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 2rem;
}

@media (max-width: 550px) {
	.region__town {
	grid-template-columns: 1fr;
}}

/* .region {
	width: 67%;
}

.town {
	width: 86%;
} */

.payment {
	margin-bottom: 2rem;
}

.payment__buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
}

@media (max-width: 550px) {
	.payment__buttons {
	grid-template-columns: 1fr;
}}

.buttons__block {
	display: flex;
}

.services {
	margin-bottom: 1rem;
}

.services__inputs1 {
	margin-bottom: 1rem;
}

.services__inputs2 {
	margin-bottom: 2rem;
}

.services__title {
	display: flex;
	gap: 2rem;
}

@media (max-width:550px) {
	.services__title {
		display: grid;
		grid-template-columns: 1fr;
	}
}

.sixth__button {
	padding: 1rem 6rem;
	color: var(--white);
	background-color: var(--red);
	display: inline-block;
	cursor: pointer;
	height: 10%;
	font-size: 16px;
}

@media (max-width:550px) {
	.sixth__button {
		padding: 1rem 3rem;
	}
}

.sixth__button:hover {
	background-color: var(--orange);
}

/* #time {
	font-size: 86px;
	width: 50%;
} */

.time__button {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 550px) {
	.time__button {
	grid-template-columns: 1fr;
}}

.give {
	display: flex;
	margin-bottom: 4rem;
}

.services {
	gap: 4rem;
}

.services__inputs1 {
	display: none;
	gap: 0.6rem;
}

.services__inputs2 {
	display: none;
	gap: 2rem;
}

.map {
	width: 100%;
	margin: 0 auto 0 auto;
}

.call{
	border: 1px solid #333333;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	flex: 0 1 50%;
	padding: 1rem 6rem;
	text-align:center;
	background: #fed100;
}

@media (max-width: 750px) {
	.call {
		padding: 0.1rem 4rem;
}}

.call:hover {
	background: #fff;
	border: 1px solid #fff;
}

.end {
	background:#fed100;
}

#contact {
	display: flex;
	gap: 4rem;
}

@media (max-width: 750px) {
	#contact  {
	display: grid;
	grid-template-columns: 1fr;
}}

.menu__end1 {
	line-height: 2;
	font-size: 20px;
}

@media (max-width: 750px) {
	.menu__end  {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}}

@media (max-width: 340px) {
	.menu__end  {
	display: grid;
	grid-template-columns: 1fr 1fr;
}}

.name__end__title {
	font-size: 30px;
}

.feedback__end {
	text-align: center;
	margin-top: 2rem;
}

@media (max-width: 750px) {
	.feedback__end  {
		margin-top: 0.1rem;
}}

/* .region__select {
	width: 90%;
}

.town__select {
	width: 70%;
} */

.title__sixth {
	font-size: 20px;
}
 
input[type="checkbox"] {
	display: none;
}

input[type="radio"] {
	display: none;
}

label {
	padding-left: 20px;
}

label[class="first__label"]::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid rgba(51, 51, 51, 0.4);
	border-radius: 50%;
	vertical-align: middle;
	margin-left: -11px;
	margin-right: 10px;
}

input[type="radio"]:checked + label[class="first__label"]::before {
	content: url(input1.png);
	text-align: center;
	border: 2px solid #fed100;
	border-radius: 50%;

}

label[class="second__label"]::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid rgba(51, 51, 51, 0.4);
	border-radius: 20%;
	vertical-align: middle;
	margin-left: -10px;
	margin-right: 10px;
}

input[type="checkbox"]:checked + label[class="second__label"]::before {
	content: url(input2.png);
	text-align: center;
	border: 2px solid #fed100;
	border-radius: 20%;

}

label[class="third__label"]::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border: 2px solid #333333;
	border-radius: 20%;
	vertical-align: middle;
	margin-left: -16px;
	margin-right: 16px;
}

input[type="checkbox"]:checked + label[class="third__label"]::before {
	content: url(input3.png);
	text-align: center;
	border: none;
	border-radius: 20%;
}

.services__dop {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 16px;
	border: none;
	background: #fff;
	cursor: pointer;
	max-width:10px;
}

.services__dop1 {
	display:none;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-size: 24px;
	border: none;
	background: #fff;
	cursor: pointer;
	max-width:10px;
}

.title {
	font-size: 30px;
	text-align: center;
	height: 20%;
}

.title1 {
	font-size: 30px;
	width: 100%;
}

.button__of {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.number__end {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/* .payment__title {
	width: 40%;
} */

